[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/Shadax-stack/SDL-mirror-submodule
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/Krypton"]
	path = vendor/Krypton
	url = https://github.com/Shadax-stack/Krypton
